*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 80%;
    margin: 2rem auto;
}
.panelContainer{
    width: 99%;
    margin: 1rem auto 2rem auto;
}
li, input[type="text"]{
    text-align: center;
}
input[type="text"], label, button, .panelAgenda p{
    padding: 20px;
    font-size: 26px;
    text-align: center;
}
label{
    background-color: #e30613;
    color: white;
}
input[type="submit"], button, .panelAgenda p{
    width: 200px;
    background-color: #e30613;
    border: none;
    color: #ffffff;
}
.labels, .inputs{
    display: flex;
    flex-direction: column;
}
.labels label, .inputs input{
    margin-bottom: 1em;
}
.fields{
    display: flex;
    justify-content: space-around;
}
#login, #register{
    align-self: flex-end;
    margin-right: 15rem;
}
.form{
    display: flex;
    flex-direction: column;
}
.register button, .studentLogin button{
    margin-left: 6em
}
header{
    background-color: #dc3545;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 400;
}
header span{
    font-weight: bold;
}
footer{
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 97.94%;
    overflow: hidden;
    min-height: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #dc3545;
}
#back{
    float: right;
    margin-right: 15rem;
    margin-top: 1rem;
}
/*---------------------------------- Main screen ----------------------------------*/
.content{
    display: flex;
    justify-content: space-around;
}
.content h1{
    text-align: center;
    background-color: #e30613;
    color: white;
    margin: 0;
    padding: 8px;
    width: 328px;
}
.student li:hover, .docent li:hover{
    background-color: #e30613;
}
.student ul a{
    width: 50%;
}
.student li, .docent li{
    list-style-type: none;
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 24px;
}
.docent a{
    width: 100%;
}
.feedback{
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

/*---------------------------------- Login Studenten ----------------------------------*/
.studentLogin label, .studentLogin input{
    padding: 20px;
    font-size: 26px;
}
.feedback{
    text-align: center;
}
/*---------------------------------- Register Studenten ----------------------------------*/
.groupNumber{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.groupNumber input{
    width: 50px;
    margin-left: 10px;
}
/*----------------------------------Mail Panels----------------------------------*/
.mailContainer #back{
    margin-right: 0;
}
.mailPanel{
    display: none;    
    max-width: 80%;
    min-width: 80%;
    min-height: 35rem;
}
.mails, .mailSend{
    display: flex;
    flex-direction: column;
    border: 2px solid #dc3545;
    padding-right: .3rem;
    min-width: 17%;
}
.mailSend{
    margin: 0;
    padding: 0;
}
.mails button{
    margin: .3rem;
}
.currentMail{
    border: 2px solid #dc3545;
    border-left: 0;
    width: 82%;
}
.currentMailSend{
    display: flex;
    justify-content: space-between;
}
.currentMailSend input[type=submit]{
    margin: 1rem;
    font-size: 16px;
    width: 100px;
}
.mailInfo, .mailInfoSend{
    min-height: 11.5%;
    padding: 1rem;
}
.mailInfo{
    border-bottom: 2px solid #dc3545;
}
.mailContent, .mailContentSend{
    max-height: 26rem;
    padding: 1rem;
    overflow: auto;
}
.mailContentSend{
    border-top: 2px solid #dc3545;
    min-height: 26rem;
    padding: 0;
    display: flex;
    flex-direction:  column;
}
.mailContentSend input{
    padding: 0;
    border: none;
}
.mailContentSend input[type=text]{
    font-size: 14px;
    width: 28.5rem;
}
.mailContentSend textarea{
    resize: none;
    font-size: 14px;
    height: 13rem;
    background: transparent;
}
[id^="Finances"]{
    display: none;
}
[id^="Sales"]{
    display: none;
}
[id^="Development"]{
    display: none;
}
[id^="Manager"]{
    display: none;
}
/*---------------------------------- Studenten Panel ----------------------------------*/
.welcome{
    text-align: center;
}
.panelContent .navigation, .panelContent .docentNavigation{
    display: flex;
    flex-direction: column;
    margin: 3.3rem 0 0 1.6rem;
}
.panelContent .docentNavigation{
    margin: 0 0 0 1.6rem;
}
.panelContent{
    display: flex;
    justify-content: space-between;
}
.panelAgenda{
    display: none;
    flex-direction: column;
    min-width: 85%;
    max-height: 23.5rem;
}
.dateSelector{
    align-self: flex-end;
}
.dateButton, .date{
    padding: 0.5rem;
}
.panelAgenda .welcome{
    text-align: center;
}
.panelAgenda .planning{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    background: linear-gradient(to bottom, #3174ad 0%, #3174ad 20%, white 20%, white 39%, #3174ad 39%, #3174ad 58%, white 58%, white 76%, #3174ad 76%)
}
.panelAgenda .planning p{
    padding: 1rem;
    margin: 0;
    background-color: #3174ad
}
.panelAgenda .planning .eightHr,
.panelAgenda .planning .nineHr,
.panelAgenda .planning .tenHr,
.panelAgenda .planning .elevenHr,
.panelAgenda .planning .twelveHr{
    grid-row: 1;
    grid-column: 1;
}
.panelAgenda .planning button{
    padding: 0.2rem;
    margin-top: 0.5rem;
    height: 80%;
}
.panelAgenda .planning .eightHrArea,
.panelAgenda .planning .nineHrArea,
.panelAgenda .planning .tenHrArea,
.panelAgenda .planning .elevenHrArea,
.panelAgenda .planning .twelveHrArea{
    display: grid;
    grid-auto-columns: max-content;
    column-gap: 0.3rem;
}
.panelAgenda .planning .eightHrArea p,
.panelAgenda .planning .nineHrArea p,
.panelAgenda .planning .tenHrArea p,
.panelAgenda .planning .elevenHrArea p,
.panelAgenda .planning .twelveHrArea p{
    width: 43px;
}
[class^="eightHrButton"], [class^="nineHrButton"], [class^="tenHrButton"], [class^="elevenHrButton"], [class^="twelveHrButton"]{
    width: auto;    
    min-width: 10rem;
    grid-row: 1;
}
div[class^="SalesModal"], div[class^="DevelopmentModal"], div[class^="ManagerModal"], div[class^="FinancesModal"]{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modalContent {
    background-color: #e30613;
    margin: 15rem auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}
.modalContent input{    
    width: 100%;
    font-size: 26px;
    padding: 0.5em;
    background-color: white;
    color: black;
}
[id^="salesClose"], [id^="managerClose"], [id^="financesClose"], [id^="developmentClose"]{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
